* {
    margin: 0;
    font-family: "Open Sans", sans-serif;
  }
.btn-primary {
  height: 64px;
  color: #ffffff;
  font-weight: 700;
  border: 0;
  padding: 18px 35px;
  font-size: 20px;
  background: #fd6e0a;
  border-radius: 5px;
}
.section-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 35px;
    text-align: center;
  
  }
/* Banner styles */
.header-text{
    width: 600px;
    padding-top : 400px;
    padding-left: 1100px;
}
.header {
    /* width: 1600px; */
    height: 1008px;
    background-image: url("../images/banner/banner1.png");
    background-repeat:no-repeat;
    background-position: center;
   
    background-size: cover;
    margin: 0  auto;
    padding-left:  00px;
    
  }
  .banner-title {
    font-weight: 700;
    font-size: 65px;
  }
 
  .banner-description {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
  }
  /* My failures_of-previous-year start  */
  .failures_of-previous-year{
    display: flex;
    padding: 200px;
  }
  .failures_of-previous-year-image{

  
  }
  .failures_of-previous-year-text{
    width: 700px;
    padding-left: 200px;
    padding-top: 200px;
  }
 .failures_of-previous-year-text>ul{
    list-style: none;
 }
 /* what i do styles */
.my-plans{
    
}
.skills-container {
    display: flex;
    gap: 25px;
  }
  .skill{
    
  padding: 130px;
  }
  .skill-title {
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .skill-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #757575;
  }
  /* gradient-image-part */
  .gradient-image-part{
    width: 1140px;
height: 300px;
margin: 20px auto;

    background: url('../images/gradient1.png') right , url('../images/watch.png');
    background-repeat:no-repeat;
    background-position: center;
  }
  .gradient-banner-title{
    font-weight: 700;
font-size: 40px;
color: #ffffff;

  }
  .gradient-image-part-text{
    margin: 230px;
    padding:70px;
    align-items: center;
  }
  /* about section styles */
  .about {
    text-align: center;
    background-color: #b3e3ff;
    color: white;
    border-radius: 10px;
    padding: 130px 150px;
  }
  .section-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 35px;
    text-align: center;
  
  }
  .section-description {
    color: #757575;
    font-size: 18px;
    text-align: center;
    margin-bottom: 30px;
  }
  .about-info-container {
    display: flex;
    justify-content: space-around;
  }
  .info-title {
    font-size: 20px;
    color: #757575;
  }
  .info-description {
    font-size: 20px;
    font-weight: 700;
    color: #474747;}
  
  /* contact style */
.contact{
    display: flex;
    gap: 100px;
    background: #151414;
    padding: 130px 200px; 
    color: #ffffff;
  }
  .contact .section-title{
    text-align: left;
  
  }
  .contact input[type="text"],[type="email"] ,textarea{
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 30px;
  
  }
  input{
    height: 64px;
  }
  .contact a{
    text-decoration: none;
  }
  .contact-email {
    margin-top: 20px;
  }
  .contact-phone{
    margin-top: 20px;
    margin-bottom: 25px;
  }